				body {  Background-color:  #003333; 
						/*color:  #d5d5d5;*/
						background-image: url("wood_1.png")}
				h1 { 	text-align: center;
						background-color:  #1a1f1d;
						background-image: radial-gradient(#1a1f1d, #32473e );
						background-repeat: no-repeat;
						color:  #d5d5d5;
						width: auto;
						padding-left: auto;
						padding-right: auto;
						padding-top:  30px;
						padding-bottom:  30px;
						border-width:  30px;
						border-style: groove;
						border-color: #bbbbbb;
						margin: auto;
						}
				h2{ 	text-align: center;
						background-color:  #2F4F4f;
						background-image: 
						radial-gradient (#1a1f1d, #32473e );
						background-repeat: no-repeat;
						color:  #d5d5d5;
						width:92%;
						padding-left: 30px;
						padding-right: 30px;
						padding-top:  10px;
						padding-bottom:  10px;
						border-width:  10px;
						border-style: solid;
						border-color: #bbbbbb;
						}
				#sheet {height: 75em;}*/
				nav ul { list-style-type: none;
						padding: 10px;
						text-align: center;

						}
				nav li {display: inline-block;
	
						padding: 1em;
						background-color: #003333;
						font-weight: bold;
						font-size: 15px;
						border: 2px double #573E0b;
						border-radius: 10px;
						box-shadow: 2px 2px 2px #666666;
						margin-left: 8px;
						margin-right: 8px;
						margin-top: 3px;
						margin-bottom: 3px;
						text-align: center;
					}
				nav a {text-decoration: none;
						padding: 10px;
						font-weight: bold;
									color: #d9d9d9;								
				}
				nav a:link { color: #bbbbbb;}
				nav a:visited {color: #949695;}
				nav a:hover {color: #4e5c41;}
				footer{ font-style: italic;
						font-size: .60em;
						text-align: center;
						background-color:;
						color: #000000;
						padding: 10px;
				bottom: 10px}
				#wrapper {width:  1000px;
				 Margin-left: auto;
				 Margin-right: auto;
				Margin-bottom: 100%;
				}
				 
				#container {width: 10%;
				background-color:#1A1F1D;
				background-image:
				radial-gradient(#1a1f1d, #32473e );
				width:  1000px;
				Margin-left: auto;
				margin-right: auto;
				Margin-bottom: 100%;
				padding: 0 0px 0px;
				
				}
				 
				a:link { color: #d5d5d5;}
				a:visited {color: #949695;}
				a:hover {color: #4e5c41;}	
				#textfloat {float: right;
							width:300px;
							height:auto;
							padding-top: 10px;
							}*/
				 /* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=5330u0k9od106Da0srv4r5BdF7p */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #32473E }	/* Main Primary color */
.color-primary-1 { color: #C3C3C3 }
.color-primary-2 { color: #949695 }
.color-primary-3 { color: #1A1F1D }
.color-primary-4 { color: #172821 }

.color-secondary-1-0 { color: #303B43 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #BBBBBB }
.color-secondary-1-2 { color: #8B8C8D }
.color-secondary-1-3 { color: #191B1D }
.color-secondary-1-4 { color: #171F26 }

.color-secondary-2-0 { color: #4E5C41 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #EAEAEA }
.color-secondary-2-2 { color: #C2C3C0 }
.color-secondary-2-3 { color: #252822 }
.color-secondary-2-4 { color: #28341E }



/* As RGBa codes */

.rgba-primary-0 { color: rgba( 50, 71, 62,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(195,195,195,1) }
.rgba-primary-2 { color: rgba(148,150,149,1) }
.rgba-primary-3 { color: rgba( 26, 31, 29,1) }
.rgba-primary-4 { color: rgba( 23, 40, 33,1) }

.rgba-secondary-1-0 { color: rgba( 48, 59, 67,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(187,187,187,1) }
.rgba-secondary-1-2 { color: rgba(139,140,141,1) }
.rgba-secondary-1-3 { color: rgba( 25, 27, 29,1) }
.rgba-secondary-1-4 { color: rgba( 23, 31, 38,1) }

.rgba-secondary-2-0 { color: rgba( 78, 92, 65,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(234,234,234,1) }
.rgba-secondary-2-2 { color: rgba(194,195,192,1) }
.rgba-secondary-2-3 { color: rgba( 37, 40, 34,1) }
.rgba-secondary-2-4 { color: rgba( 40, 52, 30,1) }



/* Generated by Paletton.com Â© 2002-2014 */
/* http://paletton.com */